name: 1. AI Core Executor
on:
  repository_dispatch:
    types: [execute_task]

permissions:
  contents: write

jobs:
  execute_task:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Environment Setup"
        run: |
          sudo apt-get update
          pip install torch --no-cache-dir # تثبيت تورش فقط عند الحاجة

      - name: "Executing Dispatched Script"
        env:
          COMMANDS: ${{ github.event.client_payload.commands }}
        run: |
          echo "python3 <<'PYTHON_EOF' > run_mission.py
          $COMMANDS
          PYTHON_EOF" > run.sh
          bash run.sh

      - name: "Saving The Red Core (Artifacts)"
        run: |
          git config --local user.email "oracle@ai.com"
          git config --local user.name "Oracle-Executor"
          git add oracle_mastery.dat
          if git diff --staged --quiet; then
            echo "No changes"
          else
            git commit -m "Update: Oracle Sovereignty Knowledge Base"
            git push
          fi