name: 2. The Executor
on:
  workflow_dispatch:
    inputs:
      manual_command:
        description: 'Enter command'
        default: 'echo Manual Success'
  repository_dispatch:
    types: [execute_mission]

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Active Simulation'
        run: |
          
