name: 2. Combat Executor
on:
  repository_dispatch:
    types: [execute_build]
jobs:
  execution:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Build System Setup
        run: |
          sudo apt update && sudo apt install -y python3-pip zip unzip build-essential
          pip3 install --user --upgrade "Cython<3.0" buildozer virtualenv
      - name: Build APK
        run: |
          wget -q https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
          unzip -q android-ndk-r25b-linux.zip
          export APP_ANDROID_NDK_PATH=$(pwd)/android-ndk-r25b
          yes | buildozer android debug
      - uses: actions/upload-artifact@v4
        with:
          name: Final-Kajitan-APK
          path: bin/*.apk