name: GEASS-STRICT-VIEW

on:
  workflow_dispatch:

jobs:
  capture:
    runs-on: macos-latest
    steps:
      - name: RUN EMULATOR AND SNAPSHOT
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 28
          script: |
            curl -L -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/${{ github.repository }}/releases/latest" | grep "browser_download_url" | cut -d '"' -f 4 | xargs curl -L -o game.apk
            adb install game.apk
            adb shell monkey -p com.geass.war.system -c android.intent.category.LAUNCHER 1
            sleep 60
            adb shell screencap -p /sdcard/view.png
            adb pull /sdcard/view.png ./final_shot.png
      - name: UPLOAD
        uses: actions/upload-artifact@v4
        with:
          name: Geass-Final-Screen
          path: final_shot.png