name: FF 1.97.1 ARM64 Patcher

on:
  workflow_dispatch:

jobs:
  patch_arm64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install gdown & Unzip
        run: |
          pip install gdown
          sudo apt-get install unzip -y

      - name: Download Zip from Drive
        run: |
          gdown --id 1HAQgjylXbwUPW7FFVEWtP1etpxYGPNZx -O library.zip

      - name: Extract & Find Lib
        run: |
          unzip library.zip
          # البحث عن الملف ووضعه في المجلد الرئيسي لتسهيل التعديل
          find . -name "libil2cpp.so" -exec mv {} . \;

      - name: Apply ARM64 Patches
        run: |
          python3 -c "
          import os

          def patch_arm64(filename, offset, hex_val):
              if os.path.exists(filename):
                  with open(filename, 'r+b') as f:
                      f.seek(offset)
                      f.write(bytes.fromhex(hex_val))
                  print(f'Patched ARM64 Offset: {hex(offset)}')
              else:
                  print('Error: libil2cpp.so not found!')

          # --- تعليمات ARM64 السحرية ---
          # MOV X0, #1  (تعني إرجاع True)
          # RET         (تعني إنهاء الدالة بنجاح)
          # الكود بالهيكس: 200080D2C0035FD6
          
          target = 'libil2cpp.so'
          hex_true = '200080D2C0035FD6'

          # تطبيق الأوفستات التي زودتني بها (الموجودة في ملف Complete_Offsets_List.txt)
          patch_arm64(target, 0x315168c, hex_true) # كسر فحص الشبكة
          patch_arm64(target, 0x3184e38, hex_true) # تخطي شاشة الدخول
          patch_arm64(target, 0x30bc4f0, hex_true) # فتح السكنات من الداتا
          "

      - name: Upload Fixed Lib
        uses: actions/upload-artifact@v4
        with:
          name: FF-1.97.1-ARM64-Fixed
          path: libil2cpp.so